<div class="book-page">
    <div class="container">
        <h1>{{book.title}}</h1>
        <p>This book has {{book.pages}} pages and was writen by <strong>{{book.author}}</strong></p>
    </div>
<div class="links">
    <a href="/books" class="form">Back</a>
</div>