* {
    font-family: Helvetica, sans-serif;
}

body{
    padding: 2em;
}

h1 {
    text-align: center;
    color: rgb(7, 38, 49)
}

.links {
    color: rgb(7, 38, 49);
    text-align: center;
    margin-top: 2em;
    font-weight: bolder;
    font-style: oblique;
}

.form,
.books-container {
    width: 450px;
    padding: 1em;
    margin: 0 auto;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.form-control label{
    font-weight: bold;
    margin-bottom: .3em;
}

.form-control input{
    padding: 5px;
}

/* BOOKS */
.books-container div {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.bold {
    font-weight: bold;
}
